.container-1{
  width: 1000px;
  padding-top: 90px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  margin-left: auto;
  margin-right: auto;

}

.container-1 input#search{
  width: 100%;
  height: 50px;
  background: #2b303b;
  border: none;
  font-size: 15pt;
  float: left;
  color: #ffffff;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-family: Arial;

  -webkit-transition: background .55s ease;
  -moz-transition: background .55s ease;
  -ms-transition: background .55s ease;
  -o-transition: background .55s ease;
  transition: background .55s ease;
}

.container-1 input#search::-webkit-input-placeholder {
   color: #ffffff;
}

.container-1 input#search:-moz-placeholder { /* Firefox 18- */
   color: #ffffff;
}

.container-1 input#search::-moz-placeholder {  /* Firefox 19+ */
   color: #ffffff;
}

.container-1 input#search:-ms-input-placeholder {
   color: #ffffff;
}

.container-1 input#search:hover, .container-1 input#search:focus, .container-1 input#search:active{
    outline:none;
    background: #990000;
  }
  
  .container-2{
    width: 300px;
    padding-top:80px;
    vertical-align: middle;
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    z-index: 2;
  }

  .container-2 button#bsearch{
    width: 300px;
    height: 50px;
    background: #00802b;
    border: none;
    font-size: 15pt;
    float: left;
    color: #ffffff;
    text-align: center;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-family: Arial;

  }
